body{
    background-color: #121212;
    color: #D8B75C;
}
/* header */
header {
    height: 200px;
    position: relative;
    width: 100%; 
}

.container-fluid {
    width: 100%; 
}

.navbar {
    position: fixed;
    background-color: black;
    z-index: 9999;
    width: 100%;
}

.navbar-brand {
    width: auto; 
}

#logo {
    width: auto;  
    max-width: 30%;
    height: auto;
}

#navbarNav {
    width: 70%; 
}
.btn-search-custom{
    border-radius: 30px;
}
/* end header */
/* container */
.container{
    margin-top: 50px;
    width: 1200px;
    height: auto;
}
.title-1 h2
{
    text-align: center;

}
hr{
    width: 30%;
    margin: 0 auto;
    border: 2px solid ;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-gioithieu img{
    width: 100%;
    height: auto;
}
.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content p{
    padding: 0 30px;
    color: white;
    font-size: 20px;
    text-align: justify;
}
/* end container */

/* footer */
footer{
    margin-top: 50px;
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: black;
}
footer .row {
    width: 100%;    
}
footer .title{
    margin-top: 50px;
}
footer .title p,
footer .title a{
    color: #D8B75C;
}
footer #icon-mxh{
    font-size: 25px;
    color: #D8B75C;
}
footer .nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
